<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="SemicolonProj">
	<parameter name="browser" value="Chrome"/>
		<groups>
			<run>
				<include name="smoke" />
				<include name="Regression" />
				<include name="invalid" />
			</run>
		</groups>
		<classes>
			<class name="testCases.TestcasesSemiColon" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
